nav a {
    text-decoration: none;
}

.nav-link {
    font-weight: bold;

}

a:hover {
    color: #ff0000;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.play-btn{
    color: white;
}